.form {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__input {
        outline: none;
        border: 1px solid rgba(#171717, .3);
        border-radius: 3px;
        padding: 12px 20px;

        font-size: 16px;
        font-weight: 500;
        color: #171717;

        &::placeholder {
            font-size: 16px;
            font-weight: 500;
            color: rgba(#171717, .3);
        }

        &:focus {
            border-color: #fff;
            box-shadow: 0 0 10px #fff;
        }
    }

    &__btn {
        display: inline-block;
        margin: 0 auto;
        outline: none;
        border: none;
        border-radius: 100px;
        background: #ed7926;
        padding: 14px 30px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        transition: background .3s;

        &:hover {
            background: #dc6d26;
        }
    }
    &__error_message {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .5px;
        color: #d30000;
    }
}