.postform {
    height: 100%;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background: url('../../assets/img/blog.png') no-repeat center;
        background-size: cover;
        width: 200px;
        height: 200px;
        bottom: 0;
        right: 20%;
        opacity: .2;
        transform: rotate(-15deg);
        z-index: 0;
    }

    &::before {
        position: absolute;
        content: '';
        background: url('../../assets/img/blog1.png') no-repeat center;
        background-size: cover;
        width: 150px;
        height: 150px;
        bottom: 10%;
        left: 10%;
        opacity: .2;
        transform: rotate(15deg);
        z-index: 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;

        span {
            display: flex;
            align-items: center;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__columns {
        width: 100%;

        &:nth-child(2) {
            max-width: 480px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__category_all {
        outline: none;
        border: none;
        background: transparent;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        margin-top: 20px;
        padding: 8px 20px;
        cursor: pointer;
        transition: background .3s, color .3s;

        &:hover {
            background: #fff;
            color: #171717;
        }
    }
}

@media(max-width:1630px) {
    .postform {
        &__inner{
            padding-bottom: 120px;
        }
        &__title{
            justify-content: center;
        }
        &__row {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
        &__columns {
            &:nth-child(1){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
