.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px 20px;
    border-right: 1px solid rgba(#fff, .1);

    &__logo {
        max-width: 75px;
        max-height: 75px;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 50px;
    }

    &_container {
        display: grid;
        grid-template-columns: 320px 1fr;
        max-width: 1920px;
        width: 100%;
        padding: 0;
        background: #171717;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item_link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #E6E6E6;

        transition: color .3s;

        span {
            display: flex;
            align-items: center;
        }

        &:hover {
            color: #dc6d26;
        }
    }

    &__icon {
        svg {
            width: 32px;
            height: 32px;
        }
    }
}