.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 76px);
    gap: 30px;
    padding: 50px 20px;
    border-right: 1px solid rgba(#fff, .1);
    overflow-y: auto;

    &__logo {
        max-width: 75px;
        max-height: 75px;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 50px;
    }

    &_container {
        display: grid;
        grid-template-columns: 320px 1fr;
        max-width: 1920px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        background: #171717;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item_link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #E6E6E6;

        transition: color .3s;

        span {
            display: flex;
            align-items: center;
        }

        &:hover {
            color: #dc6d26;
        }
    }

    &__item_link_logout {
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
    }

    &__icon {
        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__category {
        margin-bottom: auto;
        padding-top: 30px;
        border-top: 1px solid rgba(#fff, .1);
    }

    &__list_categorys {
        max-height: 400px;
        height: auto;
        overflow: hidden;
        margin-bottom: 5px;
    }

    &__list_categorys_active {
        max-height: 100%;
    }

    &__item {
        list-style-type: none;
    }

    &__item+&__item {
        margin-top: 15px;
    }

    &__item_category+&__item_category {
        margin-top: 10px;
    }

    &__item_btn {
        outline: none;
        border: none;
        background: transparent;
        display: flex;
        text-align: start;
        gap: 6px;
        font-size: 16px;
        font-weight: 400;
        color: #E6E6E6;
        transition: color .3s;
        letter-spacing: .5px;
        cursor: pointer;

        span {
            margin-top: 1px;
        }

        &:hover {
            color: #dc6d26;
        }
    }

    &__more_btn {
        max-width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        background: transparent;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        border-radius: 20px;
        margin-bottom: auto;
        padding: 6px 10px;
        transition: background .3s;
        cursor: pointer;

        &:hover {
            background: rgba(#fff, .4);
        }
    }

    &__item_link_create {
        outline: none;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #E6E6E6;
        padding: 0;
        margin-top: 15px;
        transition: color .3s;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
        }

        &:hover {
            color: #dc6d26;
        }
    }

    &__pc_hidden {
        display: none;
    }
}

.header {
    &__user_img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        object-fit: cover;
    }

    &__user_box {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 15px;
    }

    &__user_name {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }

    &__auth_btn {
        font-size: 16px;
        font-weight: 500;
        color: #ed7926;
        padding: 10px 30px;
        border: 1px solid #ed7926;
        background: #1d1e1e;
        border-radius: 50px;
        transition: background .3s, color .3s;

        &:hover {
            background: #dc6d26;
            border-color: #dc6d26;
            color: #fff;
        }
    }
}

@media(max-width:990px) {
    .sidebar {
        padding-top: 20px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 99;
        background: #171717;

        &_container {
            display: flex;
            width: 100%;
        }

        &__pc_hidden {
            display: block;
        }

        &__more_btn {
            margin-bottom: 15px;
        }

        &__category {
            margin-top: 30px;
        }

        &__close_btn {
            width: 32px;
            height: 32px;
            outline: none;
            border: none;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;

            svg {
                color: #fff;
                width: 24px;
                height: 24px;
            }
        }
    }

    .sidebar__open .sidebar {
        display: block;
    }
}